.info-icon {
  color: var(--pf-t--global--icon--color--status--info--default);
  margin-right: var(--pf-t--global--spacer--sm);
}

.helper-text {
  font-weight: bolder;
}

.exclude-label {
  padding-top: var(--pf-t--global--spacer--xs);
}
